/* Styles for the Advanced Markup assignment. */

nav ul li {
  display: inline;
}

a.active {
  font-weight: bold;
}

#sidebar {
  width: 250px;
  float: right;
  background: lightgray;
  margin: 20px;
  padding: 10px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.bio-photo {
      float: left;
      margin: 0px;
      padding 10px;
}
body{
  Font-family: serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 30px;
}

td {
  text-align: center;
}
.poem li {
  font-size: 30px;
  Font-style: italic;
  padding-right: 0px;
  text-align: center;
}
#content {
  text-align: left
}
#selected_works {
  text-align: center
}
ul.top-nav{
  text-align: center;
}
body {
  background-image: url(paper.jpg);
  Background-repeat: repeat: initial;
}